<div class="tracker-container">
  <div class="slug-grid top-slugs">
    <% 103.times do |i| %>
      <div class="slug-container">
        <%= image_tag "slug.png", class: "slug-image" %>
        <% if (i + 1) <= lap_count %>
          <%= image_tag "cross.png", class: "cross-overlay" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% extra_laps = [lap_count - 103, 0].max %>
  <% if extra_laps > 0 %>
    <hr class="divider">

    <div class="slug-grid bottom-slugs">
      <% extra_laps.times do %>
        <div class="slug-container">
          <%= image_tag "slug.png", class: "slug-image" %>
          <%= image_tag "cross.png", class: "cross-overlay" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
