<h1 style="color: #e2e8f0; font-size: 2.5em; margin-bottom: 5px; text-transform: uppercase; letter-spacing: 2px;">DUTCH ULTRASKATE 2026</h1>
<h2 style="color: #a0aec0; margin-top: 0; margin-bottom: 30px; font-weight: normal;"><%= @user.username.capitalize %>'s Lap Progress</h2>

<%= render "shared/tracker", lap_count: @lap_count %>
